.bg-blue {
 background-color: blue;
}

.bg-red {
  background-color: red;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-yellow {
  background-color: yellow;
}